<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Expense Tracker - Premium</title>
  

   <link rel="stylesheet" href="/view/login/login.css" />
</head>

  
<body>
    <div id="auth">
    <form id="login-form">
      <input type="email" id="em_login" placeholder="Email" required />
      <input type="password" id="pw_login" placeholder="Password" required />
      <button type="submit">Login</button>
      <a href="#" id="show-signup">Sign Up</a>
      <a href="#" id="forgotlink">Forgot Password?</a>
    </form>
    </div>
     <script src="/view/login/login.js"></script>
</body>

</html>