<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
     <link rel="stylesheet" href="/view/signup/signup.css" />
</head>
<body>
    <div id="signupdiv">
 <form id="signup-form" >
      <input type="text" id="em_name" placeholder="Name" required />
      <input type="email" id="em_signup" placeholder="Email" required />
      <input type="password" id="pw_signup" placeholder="Password" required />
      <button type="submit">Sign Up</button>
      <a href="#"id="show-login">Back to login</a>
    </form>
    </div>
    
     <script src="/view/signup/signup.js"></script>
</body>

</html>