<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="leaderboard.css" />
  </head>
  <body class="dark">

    <section class="row">
      <div id="left" class="dark">
        <div id="expense-div" class="dark">
          <div style="text-align: center"><h1>Leaderboard</h1></div>

        </div>
         <div class="back-button-container">
          <button id="back" class="back-button">← Back</button>
        </div>
      </div>
    </section>
    <script src="/view/leaderboard/leaderboard.js" defer></script>
    
  </body>
</html>