<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="/view/forgotpassword/forgotpassword.css">
</head>
<body>
  <div id="center" style="padding-bottom: 22px;">
    <h1>Forget Password</h1>
    <form method="post" id="forgetPassword-form" >
      <div class="txt_field">
        <input type="email" id="email"  placeholder="Enter your mail Id" required/>
        <span></span>
        
      </div>
      <input type="submit" value="Submit Mail" >
    </form>
    <a href="#"id="show-login">Back to login</a>
  </div>
  <script src="/view/forgotpassword/forgotpassword.js" defer></script>
 
  
</body>
</html>